body {}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

.container{ border:1px solid red;}

.top_line{
    background-color:#000;
    color:white;
}

.footerContainer{
    background-color:gray;
    color: white;
}
.copyright{
    border-top: 4px solid #fff;
}
a.cpr { color : white :
